# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log

# webstorm
.idea

# project
tests
src
gulpfile.js
webpack.test.js
tslint.json
tsconfig.json

# ignore
.gitignore
.gitattributes
.eslintignore
.npmignore

# config
.editorconfig
.eslintrc.yml
.lintstagedrc.yml